<%- include("partials/header.ejs") %>

<div class="content">
  <div class="jumbotron" id="main_jumbo">
    <div id="jumbo_btn_left">
      <span> < </span>
    </div>
    <div id="jumbo_btn_right">
      <span> > </span>
    </div>
  </div>
  <div class="home_content">
    <div class="home_article">
      <h3>My own little Facebook</h3>
      <p>I am very privacy and 'free and open source' minded so I try to avoid platforms who's bussiness models revolves around targeted advertising through spying on it's users. I know what you are probably thinking now, that I am a stupid brainwashed idiot who keeps looking for a false sense of privacy by using a VPN and other tools which do little for online freedom and privacy. I am not. Ask me about my opinions on VPN providers and other "privacy" services. So here is my own little home-made Facebook, but without all the garbage.</p>
    </div>
    <div class="home_article">
      <h3>Freedom</h3>
      <p>I am talking about software freedom here, also known as Libre, free, FOSS, FLOSS and open source. I am very pro free software, but no I am not a fanatic, I use non-free software (Steam and games mainly) and binary blobs (Can't get around those on modern hardware) daily. But I will prefer free alternatives if they are viable. Yes, I going to be that guy who will keep pushing for free software everything in your IT infrastructure. I rather have you hire a couple of capable developers then rely on bloated spyware from a third party.</p>
    </div>
  </div>

<!-- Make sure post actually exists -->
<% if (lastBlogPost) { %>
  <div class="home_content">
    <h3 class="home_h3">Latest post</h3>
  </div>
</div>
<div class="seperate_color">
  <div class="post post_hover_no_color" onclick="window.open('/posts/<%=lastBlogPost._id%>', '_self');">
    <div class="post_header">
      <table class="info_table">
        <tr>
          <th> <%= lastBlogPost.name %> </th>
          <th> <%= lastBlogPost.date %> </th>
        </tr>
        <tr>
          <th colspan="2"> <%= lastBlogPost.title %> </th>
        </tr>
      </table>
      </div>
      <hr>
      <table class="post_table">
        <tr>
          <td colspan="2">
            <%= lastBlogPost.post.substring(0, 190).replace(/<(.|\n)*?>/g, "");%>
            <% if (lastBlogPost.post.length >= 190) { %>
              ...
            <% } %>
          </td>
        </tr>
      </table>
      <% if (lastBlogPost.link) { %>
      <div class=" <% if (lastBlogPost.image) { %>  post_container_div_image <% } else { %> post_container_div <% } %> ">
          <a target="_blank" href="<%=lastBlogPost.link%>"><%=lastBlogPost.link%></a>
      </div>
      <% } %>
      <% if (lastBlogPost.image) { %>
        <img src="<%=lastBlogPost.image%>" alt="Error: Image link incorrect">
      <% } %>
    </div>
  </div>
<% } %>
<script src="/jumbo.js" charset="utf-8"></script>

<%- include("partials/footer.ejs") %>
