<%- include("partials/header.ejs") %>

<div class="content">
  <div class="jumbotron" id="main_jumbo">
    <div id="jumbo_btn_left">
      <span> < </span>
    </div>
    <div id="jumbo_btn_right">
      <span> > </span>
    </div>
  </div>
  <div class="home_content">
    <div class="home_article">
      <h3>My own little Facebook</h3>
      <p>I am very privacy and 'free and open source' minded so I try to avoid platforms who's bussiness model revolves around targeted advertising through spying on it's users. But I of course still want my own little place on the web where I can post rants which nobody will ever read and nobody cares about, so I made my own little blog. I will also post projects I am working on in as much details as possible to show what interests me and what I am capable of.</p>
    </div>
    <div class="home_article">
      <h3>Knowledgable</h3>
      <p>If you are looking for a knowledgable all-doer; here I am! I am knowledgable about various fields in IT/ICT, a few examples; System management (Windows, GNU/Linux, *BSD), networking (Cisco, hardware TCP/IP), IT support (Repair, service desk), development (HTML, CSS, Javascript, NodeJS, PHP, C, Python, BASH, Z-Shell) etc.. If you need someone like me don't be afraid to say hello! I will gladly talk about pretty much anything!</p>
    </div>
  </div>

<!-- Make sure post actually exists -->
<% if (lastBlogPost) { %>
  <div class="home_content">
    <h3 class="home_h3">Latest post</h3>
  </div>
</div>
<div class="seperate_color">
  <div class="post post_hover_no_color" onclick="window.open('/posts/<%=lastBlogPost._id%>', '_self');">
    <div class="post_header">
      <table class="info_table">
        <tr>
          <th> <%= lastBlogPost.name %> </th>
          <th> <%= lastBlogPost.date %> </th>
        </tr>
        <tr>
          <th colspan="2"> <%= lastBlogPost.title %> </th>
        </tr>
      </table>
      </div>
      <hr>
      <table class="post_table">
        <tr>
          <td colspan="2">
            <%= lastBlogPost.post.substring(0, 190).replace(/<(.|\n)*?>/g, "");%>
            <% if (lastBlogPost.post.length >= 190) { %>
              ...
            <% } %>
          </td>
        </tr>
      </table>
      <% if (lastBlogPost.link) { %>
      <div class=" <% if (lastBlogPost.image) { %>  post_container_div_image <% } else { %> post_container_div <% } %> ">
          <a target="_blank" href="<%=lastBlogPost.link%>"><%=lastBlogPost.link%></a>
      </div>
      <% } %>
      <% if (lastBlogPost.image) { %>
        <img src="<%=lastBlogPost.image%>" alt="Error: Image link incorrect">
      <% } %>
    </div>
  </div>
<% } %>
<script src="/jumbo.js" charset="utf-8"></script>

<%- include("partials/footer.ejs") %>
