<%- include("partials/header.ejs") %>

<% console.log(blogPost); %>
<div class="content">
  <div class="content_posts">

    <% blogPost.forEach(function(blogPost) { %>
    <div class="post">
      <table class="info_table">
        <tr>
          <th> <%= blogPost.name %> </th>
          <th> <%= blogPost.date %> </th>
        </tr>
        <tr>
          <td colspan="2"> <%= blogPost.title %> </td>
        </tr>
      </table>
      <hr>
      <table class="post_table">
        <tr>
          <td colspan="2"> <%= blogPost.post %> </td>
        </tr>
      </table>
    </div>
    <% }); %>

  </div>
</div>

<%- include("partials/footer.ejs") %>
