<%- include("partials/header.ejs") %>

<div class="content">
  <div class="content_posts">

    <% blogPost.reverse().forEach(function(blogPost) { %>
    <div class="post post_hover" onclick="window.open('/posts/<%=blogPost._id%>', '_self');">
      <table class="info_table">
        <tr>
          <th> <%= blogPost.name %> </th>
          <th> <%= blogPost.date %> </th>
        </tr>
        <tr>
          <td colspan="2"> <%= blogPost.title %> </td>
        </tr>
      </table>
      <hr>
      <table class="post_table">
        <tr>
          <td colspan="2">
            <%= blogPost.post.replace(/<(.|\n)*?>/g, "").substring(0, 190);%>
            <% if (blogPost.post.length >= 190) { %>
              ...
            <% } %>
          </td>
        </tr>
      </table>
      <% if (blogPost.link) { %>
      <div class=" <% if (blogPost.image) { %>  post_container_div_image <% } else { %> post_container_div <% } %> ">
        <a target="_blank" href="<%=blogPost.link%>"><%=blogPost.link%></a>
      </div>
      <%}%>
      <% if (blogPost.image) { %>
        <img src="<%=blogPost.image%>" alt="Error: Image link incorrect">
      <%}%>
    </div>
    <% }); %>

  </div>
</div>

<%- include("partials/footer.ejs") %>
