<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/post_style.css">  <!-- CSS fix posts -->

<div class="seperate_color">
  <div class="post">
    <table class="info_table">
      <tr>
        <th> <%= post.name %> <% if (false) { %> <sup> <a id="edit_post" href="/posts/<%=post._id%>/edit">edit</a> <sup><% } %> </th>
        <th> <%= post.date %> </th>
      </tr>
      <tr>
        <td colspan="2"> <%= post.title %> </td>
      </tr>
    </table>
    <hr>
      <div id="container_post_style">
        <table class="post_table">
          <tr>
            <td colspan="2"> <%- post.post %> </td>
          </tr>
        </table>
        <% if (post.link) { %>
        <div class=" <% if (post.image) { %>  post_container_div_image <% } else { %> post_container_div <% } %> ">
            <a target="_blank" href="<%=post.link%>"><%=post.link%></a>
        </div>
        <% } %>
        <% if (post.image) { %>
          <img src="<%=post.image%>" alt="Error: Image link incorrect">
        <% } %>
      </div>
      <% if (isLoggedIn) { %>
        <form id="send_delete" action="/posts/<%=post._id%>?_method=DELETE" method="post"></form>
        <div id="edit_div_container">
          <div id="edit_button_div">
            <a class="edit_button" href="/posts/<%=post._id%>/edit"></a>
            <span class="edit_button" onclick="var i = confirm('Delete this post?'); if (i) { document.getElementById('send_delete').submit(); }"></span>
          </div>
        </div>
      <% } %>
    </div>
  </div>

<%- include("partials/footer.ejs") %>
